.App {
  text-align: center;
}

.App-logo {
  /*
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  */
  color: #ffdead;
}

.App-header {
  background-color: #7b3d11;
  padding: 15px;
  color: #f5fffa;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding: 10px;
  color: #52280b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
